################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Group5OnlineStore/v17/TestStore/0/033.testlog
/.vs/Group5OnlineStore/v17/.suo
